<div class="container" style="margin: 5px;border-bottom: 1px solid #fff;">
    <div class="col-md-2 logo">
        <span>Deloitte</span>
        <span>Net</span>
    </div>

    <div class="col-md-8 search_bar">
        <div class="input-group" id="searchBar">
            <input type="text" class="form-control" placeholder="Enter keyword(s) or phrase">
            <span class="input-group-addon searchBtn" title="search">
                    <i class="fa fa-search"></i>
                </span>
        </div>
    </div>

    <div class="col-md-2">
        <div class="col-md-3 nb-menu">
            <a>
                <i class="fa fa-2x fa-user-circle-o"></i>
            </a>
        </div>
        <div class="col-md-3 nb-menu">
            <a>
                <i class="fa fa-2x fa-envelope"></i>
            </a>
        </div>
        <div class="col-md-3 nb-menu">
            <a>
                <i class="fa fa-2x fa-cog"></i>
            </a>
        </div>
        <div class="col-md-3 nb-menu">
            <a>
                <i class="fa fa-2x fa-sign-out"></i>
            </a>
        </div>
    </div>

    <!--<div>
        <ul style="list-style: none;">
            <li style="display: inline; margin: 0 10px; text-decoration: underline;">
                <a ng-link="home()">Home page</a>
            </li>
            <li style="display: inline; margin: 0 10px; text-decoration: underline;">
                <a ng-link="about()">About us</a>
            </li>
        </ul>
    </div>-->
</div>