<div class="container noindex">
    <div class="row">
        <div class="disclaimer noindex">
            <ul class="copyright noindex">
                <li>Copyright © 2017 Deloitte Development LLC. All rights reserved.<br> 36 USC 220506</li>
                <li class="f-1"></li>
            </ul>
        </div>
        <div class="links noindex">
            <ul class="links2 noindex">
                <li><a class="control">Member of Deloitte Touche Tohmatsu Limited</a></li>
                <li><a href="/system/pages/EC.aspx">Electronic Communications</a></li>
                <li><a href="#" class="control">Internal use only</a></li>
            </ul>
            <ul class="links1 noindex">
                <li><a href="https://deloittenet.deloitte.com/Pages/Contactus.aspx"> Feedback</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/help.aspx"> Help</a></li>
                <li><a href="https://deloittenet.deloitte.com/Pages/KeyWordsListPage.aspx"> Keywords</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/legal.aspx"> Legal</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/preferences.aspx"> Preferences</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/privacy.aspx"> Privacy</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/security.aspx"> Security</a></li>
                <li><a href="https://deloittenet.deloitte.com/Pages/SiteMap.aspx"> Site Map</a></li>
                <li><a href="https://deloittenet.deloitte.com/system/pages/Use.aspx"> Terms of Use</a></li>
            </ul>
        </div>
    </div>
</div>
<!--<span ng-repeat="link in footer.links" style="margin: 0 10px;">{{link}}</span>-->